{{#section 'head'}}
    <link rel="stylesheet" href="/css/auth.css">
{{/section}}

<div class="container">
  <form method="POST" action="/forgot" class="form-signin">
    <h2 class="form-signin-heading">Reset password</h2>

    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset link</button>
  </form>
</div>
